<header>
  <svg class='logo' width="481px" height="126px" viewBox="480 10 481 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text id="Rosalind" stroke="none" fill="none" font-family="Inconsolata-Regular, Inconsolata" font-size="120" font-weight="normal">
          <tspan x="480" y="113" fill="#FFC565">Ro</tspan>
          <tspan x="600" y="113" fill="#D6F388">sa</tspan>
          <tspan x="720" y="113" fill="#ABE9AC">li</tspan>
          <tspan x="840" y="113" fill="#72D6E9">nd</tspan>
      </text>
  </svg>
  <a href={{pathway}}><button><img src="./images/23andmelogo.png" alt=""/>SIGN IN</button></a>
</header>
<div class="main">
</div>
