<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='/javascripts/tabs.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
