<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/d3.css' />
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' charset="utf-8">

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js'></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
