body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #333;
}
h2 {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  line-height: 50px;
  color: #333 !important;
}
header {
 height: 150px;
 width: 100%;
 border-bottom: 2px solid #BBBBBB;
 background-color: rgba(255, 255, 255, 0.8);
 position: fixed;
 top:0px;
 margin:auto;
 z-index:100000;

}
header > a > button {
  padding: 10px 15px;
  background-color:#F65B77;
  border: none;
  position: absolute;
  top: 50px;
  right: 70px;
  display: inline;
  height: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  font-weight: 300;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
header > a > button:hover {
  transform: scale(1.2);

}
header > a {

}
header > a > button > img {
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
}
header > ul {
  position: absolute;
  top: 50px;
  right: 50px;
}
header > ul > li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #BBBBBB;
}
.activenav {
  color: #F65B77;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
.main {
  margin-top: 200px;
  padding-left: 10%;
}
.tab {
  width: 90%;
  padding: 20px 1%;
  border: 2px solid #ffb438;
  z-index: 10;
  background-color: white !important;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.tabnav {
  height: 48px;
  width: 150px;
  border-top: 2px solid #ffb438;
  border-right: 2px solid #ffb438;
  border-left: 2px solid #ffb438;
  display: inline-block;
  margin-bottom: -2px;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tabnav:hover {
  background-color: white;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.ancestry{
  border-color: #ffb438;
  background-color: #ffb438;
}
.physical{
  border-color: #d2fc61;
  background-color: #d2fc61;
}
.mental {
  border-color: #98f09a;
  background-color: #98f09a;
}
.intentions{
  border-color: #5ad1e8;
  background-color: #5ad1e8;
}
.tabactive {
  background-color: white;
  height: 50px;
  z-index: 1000;
}
.tabheader {
  flex: 0 0 98%;
}
.box {
  flex: 0 0 27%;
  margin: 20px 1%;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.3);
  padding: 1% 2%;
}
.box > a {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-size: 12px;
  color: #F65B77;
}
.box > p {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 5px;
}
.advice {
  position: relative;
}
.advice > h4 {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.advice > i {
  margin-left: 5%;
  vertical-align: middle;
  color: #49A4FF;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.advice > i:hover {
  transform: scale(1.2);
}
.boxheader{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.boxheader > h3 {
  font-size: 20px;
  color: #49A4FF;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  display: inline;
}
.boxheader > i {
  color:#F65B77;
  display: inline;
  padding-right: 10px;
}
h6 {
  display: none;
}
.list {
  padding: 20px;
  flex: 0 0 60%;
}
.listitem {
  border: 2px solid rgba(187, 187, 187, .2);
  padding: 10px;
  margin-bottom: 10px;
}
.listitem > p {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  color: #333;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.listitem> i {
  display: inline-block;
  color: #F65B77;
  vertical-align: middle;
    color: #98f09a;
}
.listitem> button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-family: 'Lato',sans-serif;
  font-size: 12px;
  padding: 10px;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.listitem> button:hover {
  transform: scale(1.1);
}
.listitem > h5 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
  margin: 0px;
}
.checkedoff {
  color: #98f09a !important;
}

.overlay{
    opacity:1;
    background-color:rgba(123,123,123, .7);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:100000;
    display: none;
    align-items: center;
}
.overlayInset {
  width: 30%;
  margin-left: 35%;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
.overlayInset > h2 {
  clear: both;
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
  color: #49A4FF;
  width: 70%;
  display: inline-block;
  line-height: normal;
}
.close {
  width: 30px;
  float: right;
  display: inline-block;
  cursor: pointer;
}
.intentionchart {
  flex: 0 0 28%;
  overflow: auto;
  padding-left: 2%;
  width: 100%;
}
.intentionchart > h2 {
  font-weight: bolder;
}
.key {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.key > h4 {
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px;
}
.start {
  background-color: #49A4FF;
}
.complete {
  background-color: #F65B77;
}
.intention {
  padding-right: 10px;
}
/*rect {
  fill: #49A4FF;
}*/
.ancestrychart {
  flex: 0 0 50%;
}
.chart {
  margin-bottom: 15px;
}
.chart text {
  fill: #333;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  text-anchor: end;
}
.solid {
  border-left: 4px solid #333;
}
.reaction {
  max-width: 300px;
  margin-top: 20px;
}
.square {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.created {
  background-color: #49A4FF;
}
.Perstarted {
  background-color: #5ad1e8;
  margin-left: 20px;
}
.started {
  background-color: #F65B77;
}
.Percompleted {
  background-color: #ffb438;
  margin-left: 20px;
}
.completed {
  background-color: #98f09a;
}
.bump {
  margin-top: 30px;
}
.message {
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
}
.ancestryadvice {
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
}
.ancestrybox{
  flex: 0 0 40%;
  padding: 5%;
  margin: 20px 1%;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
  padding: 1% 2%;
}
.ancestrybox > p{
  font-size: 14px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}
.ancestrybox > h4 {
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 600;
  margin: 10px 0px;
}
.ancestrybox > a > button {
  padding: 5px 10px;
  background-color:#F65B77;
  border: none;
  display: inline;
  color: #333;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 300;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.addthis {
  display: none;
  float: right;
  z-index: 1000;
  position: absolute;
  text-align: center;
  right: 0px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
/*@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Safari, Chrome and Opera > 12.1 */
/*@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Internet Explorer */
/*@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

/* Opera < 12.1 */
/*@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}*/

.addthis > p {
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  vertical-align: middle;
}
