body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  line-height: 50px;
  color: #333 !important;
}
header {
 height: 150px;
 width: 100%;
 border-bottom: 2px solid #BBBBBB;
 background-color: rgba(255, 255, 255, 0.8);
 position: fixed;
 top:0px;
 margin:auto;
 z-index:100000;

}
header > button {
  padding: 10px 15px;
  background-color:#F65B77;
  border: none;
  position: absolute;
  top: 50px;
  right: 70px;
  display: inline;
  height: 50px;
}
header > button > a {
  color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  font-weight: 300;
}
header > button > img {
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
}
header > ul {
  position: absolute;
  top: 50px;
  right: 50px;
}
header > ul > li {
  list-style: none;
  display: inline;
  margin-left: 10px
}
a {
  text-decoration: none;
  color: #BBBBBB;
}
.activenav {
  color: #F65B77;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}
.main {
  margin-top: 200px;
  padding-left: 10%;
}
.tab {
  width: 90%;
  padding: 20px 1%;
  border: 2px solid #FFC565;
  z-index: 10;
  background-color: white !important;
  display: flex;
  flex-wrap: wrap;
}
.tabnav {
  height: 48px;
  width: 150px;
  border-top: 2px solid #FFC565;
  border-right: 2px solid #FFC565;
  border-left: 2px solid #FFC565;
  display: inline-block;
  margin-bottom: -2px;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tabnav:hover {
  background-color: white;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.ancestry{
  border-color: #FFC565;
  background-color: #FFC565;
}
.physical{
  border-color: #D6F388;
  background-color: #D6F388;
}
.mental {
  border-color: #ABE9AC;
  background-color: #ABE9AC;
}
.intentions{
  border-color: #72D6E9;
  background-color: #72D6E9;
}
.tabactive {
  background-color: white;
  height: 50px;
  z-index: 1000;
}
.tabheader {
  flex: 0 0 98%;
}
.box {
  flex: 0 0 31%;
  margin: 20px 1%;
  border: 1px solid red;
}
.boxheader{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.boxheader > h3 {
  font-size: 20px;
  color: #49A4FF;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  display: inline;
}
.boxheader > i {
  color:#F65B77;
  display: inline;
  padding-right: 10px;
}
